/*     *{} pour toute la page */
/*  CTRL + Espace => propose la list des selecter=urs existants   */


* {
    margin:0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./picture/Vertmer.jpg");  /* pour insérer le lien du fichier saisir  ./   => selectionn' dossier d'emplacemt => selection' le fichier */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* 
    background-image: url("./Picture/Vertmer.jpg"); /* pour insérer le lien du fichier saisir  ./   => selectionn' dossier d'emplacemt => selection' le fichier */
    /*background-size:cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    width: 100%;
    /*margin: 0.5rem;             /*  0.5rem  _ par defaut 1em=16px  _ Dc 8px= 0.5rem */
    /*gap:10px;
    align-items: center;
    justify-content: center;
    /*text-align: justify;*/
}

.header_bann {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 10px;
    /*width: 100%;
    margin-top: 0.8rem; */

    /*
    width: 100%;
        * height: 200px; 
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: 0.5rem; 
    padding: 0.5rem;
    gap:10px;
    align-items: center;
    justify-content: center; 
    */
}

.photo {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.photo_profil {
    width: 40%;         /* pour que la photo soit ronde : */
    height: 40%;       /* width + height doivent être parfaitement identiques */
    object-fit: cover;    /* pour q l’image remplisse entièrement son conteneur sans déformation */
    border-radius:50%;     /* mettre valeur à 50% pour que les 4 angles s'arrondissent */
}

.header_title {
    width:auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: wrap; /*retour à la lign auto du text*/
    word-wrap:normal
}

h1, h2, h3 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    margin: 0 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: wrap;         /*retour à la lign auto du text*/
    word-wrap:normal
}

h1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    white-space: wrap; 
    /*text-align: center;*/
}
h2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    margin: 0 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: wrap;         /*retour à la lign auto du text*/
    word-wrap:normal;
    /*display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    white-space: wrap;*/
}

/*____________________________________________*/

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /*margin: 0 10%;*/
    /*padding: var(16px 20px 16px 20px);*/
    border-radius: 20px;
    text-align: center;
}

h3 {
    /*padding: 0.5rem;*/
    align-items: center;
    text-align: center;
}

.p_intro {
    width: 80%;
    padding: 0.7rem;
    background-color: aquamarine;
    border-radius: 20px;
    opacity: 0.5;
    text-align: center;
    color: black;
    white-space: wrap; /*retour à la lign auto du text*/ 
}

/*____________________________________________*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10%;
}

.card {
    width: 200px;      /**/
    height: flex;
    display: flex;
    margin: 10px;
    overflow: auto;
    border: solid, black;
    border-radius: 20px;
    background-color: black;
    justify-content: center;
    gap: 500px;
    color: aquamarine;
    text-align: center;
    white-space: wrap; /*retour à la lign auto du text*/
}

footer {

}

.sourcepicture {
    font-size: small;
    font-style: italic;
    color:rgb(4, 65, 4);
    margin-top: 20px;
    padding: 10px;
}

/**/
@media screen and (max-width:400px) {
    .sourcepicture {
        color: rgb(226, 65, 21);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10%;
    }
}

@media screen and (min-width:740px) {
     .sourcepicture {
        color: rgb(86, 21, 226);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10%;
    }
}


